<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Login Time</th>
        <th scope="col">Logout Time</th>
        <th scope="col">Ip Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let audit of $auditList | async, let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{audit.firstName}}</td>
        <td>{{audit.lastName}}</td>
        <td>{{audit.sessionStartTime | date:'medium'}}</td>
        <td>{{audit.sessionEndTime | date:'medium'}}</td>
        <td>{{audit.publicIP}}</td>
      </tr>
    </tbody>
  </table>
  
  